USE [group4_swp_chillStore_Final11]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[gender] [nvarchar](10) NULL,
	[national_id] [nvarchar](20) NULL,
	[start_date] [date] NULL,
	[privileges] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[logo] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[display_name] [nvarchar](100) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[gender] [nvarchar](10) NULL,
	[birth_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[is_locked] [bit] NOT NULL,
	[provider] [nvarchar](50) NULL,
	[provider_id] [nvarchar](255) NULL,
	[avatar_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delivery_tracking]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delivery_tracking](
	[tracking_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[location] [nvarchar](255) NULL,
	[updated_by] [int] NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[tracking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[rating] [tinyint] NULL,
	[comment] [nvarchar](1000) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flyway_schema_history]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flyway_schema_history](
	[installed_rank] [int] NOT NULL,
	[version] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
	[type] [nvarchar](20) NOT NULL,
	[script] [nvarchar](1000) NOT NULL,
	[checksum] [int] NULL,
	[installed_by] [nvarchar](100) NOT NULL,
	[installed_on] [datetime] NOT NULL,
	[execution_time] [int] NOT NULL,
	[success] [bit] NOT NULL,
 CONSTRAINT [flyway_schema_history_pk] PRIMARY KEY CLUSTERED 
(
	[installed_rank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance_warranty_history]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance_warranty_history](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[update_time] [datetime2](7) NULL,
	[notes] [nvarchar](1000) NULL,
	[status] [nvarchar](20) NULL,
	[handled_by] [int] NULL,
	[handled_role] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance_warranty_requests]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance_warranty_requests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[request_type] [nvarchar](20) NULL,
	[request_date] [datetime2](7) NULL,
	[reason] [nvarchar](500) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[membership_tiers]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[membership_tiers](
	[tier_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[min_points] [int] NOT NULL,
	[discount_pct] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[memberships]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[memberships](
	[membership_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[tier_id] [int] NOT NULL,
	[points] [int] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[is_current] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[membership_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price_each] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[promo_id] [int] NULL,
	[voucher_id] [int] NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[order_date] [datetime2](7) NULL,
	[total_amount] [decimal](10, 2) NULL,
	[status] [nvarchar](20) NULL,
	[payment_method] [nvarchar](10) NULL,
	[staff_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](500) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock_qty] [int] NULL,
	[active] [bit] NULL,
	[category_id] [int] NULL,
	[brand_id] [int] NULL,
	[discount_pct] [decimal](5, 2) NULL,
	[discount_from] [date] NULL,
	[discount_to] [date] NULL,
	[image_url] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion_brands]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion_brands](
	[promo_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC,
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion_categories]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion_categories](
	[promo_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion_products]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion_products](
	[promo_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[promo_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[discount_pct] [decimal](5, 2) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[active] [bit] NULL,
	[created_by] [int] NOT NULL,
	[apply_type] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[replies]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[replies](
	[reply_id] [int] IDENTITY(1,1) NOT NULL,
	[feedback_id] [int] NOT NULL,
	[staff_id] [int] NOT NULL,
	[content] [nvarchar](1000) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[reply_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[gender] [nvarchar](10) NULL,
	[national_id] [nvarchar](20) NULL,
	[start_date] [date] NULL,
	[base_salary] [decimal](10, 2) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher_brands]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher_brands](
	[voucher_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC,
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher_categories]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher_categories](
	[voucher_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vouchers]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vouchers](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[discount_pct] [decimal](5, 2) NULL,
	[min_order_amount] [decimal](10, 2) NULL,
	[quantity_available] [int] NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[active] [bit] NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse](
	[trans_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity_change] [int] NOT NULL,
	[stock_after] [int] NOT NULL,
	[type] [nvarchar](10) NOT NULL,
	[trans_date] [datetime2](7) NULL,
	[admin_id] [int] NULL,
	[notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[trans_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlists]    Script Date: 6/26/2025 4:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlists](
	[wishlist_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[wishlist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admins] ON 

INSERT [dbo].[admins] ([admin_id], [name], [email], [password], [phone], [address], [gender], [national_id], [start_date], [privileges], [created_at], [updated_at]) VALUES (1, N'Huỳnh Lê Công Bien', N'BienHLCCE181207@fpt.edu.vn', N'$2a$12$NvD5Z2Wb1eKbBwwEQt88r.epErjVTqc7o7H.NonZyeyD.w4JuhGFu', N'0912345678', N'Kien_Giang', NULL, NULL, NULL, NULL, CAST(N'2025-06-15T04:55:27.0329589' AS DateTime2), CAST(N'2025-06-15T04:55:27.0329589' AS DateTime2))
SET IDENTITY_INSERT [dbo].[admins] OFF
GO
SET IDENTITY_INSERT [dbo].[brands] ON 

INSERT [dbo].[brands] ([brand_id], [name], [logo], [created_at], [updated_at]) VALUES (1, N'Panasomic', N'https://cdnv2.tgdd.vn/mwg-static/common/Category/7b/fe/7bfefb3ef979c2a3a4ed10ee8afaec7f.png', CAST(N'2025-06-07T14:23:55.943' AS DateTime), CAST(N'2025-06-07T14:23:55.943' AS DateTime))
INSERT [dbo].[brands] ([brand_id], [name], [logo], [created_at], [updated_at]) VALUES (2, N'Daikin', N'https://cdnv2.tgdd.vn/mwg-static/common/Category/2f/53/2f53a117d367a1180788ae6ed2ddec12.png', CAST(N'2025-06-07T14:23:55.943' AS DateTime), CAST(N'2025-06-07T14:23:55.943' AS DateTime))
INSERT [dbo].[brands] ([brand_id], [name], [logo], [created_at], [updated_at]) VALUES (3, N'Aqua', N'https://cdnv2.tgdd.vn/mwg-static/common/Category/77/70/7770c6499cb79088e8663b61bda39539.png', CAST(N'2025-06-07T14:23:55.943' AS DateTime), CAST(N'2025-06-07T14:23:55.943' AS DateTime))
SET IDENTITY_INSERT [dbo].[brands] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [name], [parent_id]) VALUES (1, N'máy lạnh', NULL)
INSERT [dbo].[categories] ([category_id], [name], [parent_id]) VALUES (2, N'tủ lạnh', 2)
INSERT [dbo].[categories] ([category_id], [name], [parent_id]) VALUES (3, N'quạt điều hòa', 3)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([customer_id], [name], [display_name], [email], [password], [phone], [address], [gender], [birth_date], [created_at], [updated_at], [is_locked], [provider], [provider_id], [avatar_url]) VALUES (1, N'BienHuynh', N'Công Bien', N'hlcongbien2004@gmail.com', N'$2a$12$aJK0K21HQj5fJsx4ghePuO5ZN.muobto9.1E8PO52QMBM6C5P6Xty', N'0912345678', N'can tho', N'Male', CAST(N'2004-02-13' AS Date), NULL, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[customers] ([customer_id], [name], [display_name], [email], [password], [phone], [address], [gender], [birth_date], [created_at], [updated_at], [is_locked], [provider], [provider_id], [avatar_url]) VALUES (2, N'tam1234', NULL, N'namnguyen123456cm@gmail.com', N'$2a$10$iq9p0V0oWlFlEQd/sxw6duQXYsGCzWA9NXGofGYCwzgKOURtjEyoy', N'0933561709', N'Đường 200, tổ 8, Khu vực Bình Phó B, Phường Long Tuyền, Quận Bình Thủy', NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[customers] ([customer_id], [name], [display_name], [email], [password], [phone], [address], [gender], [birth_date], [created_at], [updated_at], [is_locked], [provider], [provider_id], [avatar_url]) VALUES (3, N'Ha', N'Trương Thị Vũ Hà', N'hattvce181839@fpt.edu.vn', N'$2a$10$znoQPMfEywtnvc7PGFfuU.3nLr1hLoVShqVnkUYkVcuRA.BbIBtdy', N'0912345678', N'Kien_GIang', NULL, CAST(N'2004-02-19' AS Date), CAST(N'2025-06-20T06:43:21.0096221' AS DateTime2), CAST(N'2025-06-20T06:43:21.0096221' AS DateTime2), 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
INSERT [dbo].[flyway_schema_history] ([installed_rank], [version], [description], [type], [script], [checksum], [installed_by], [installed_on], [execution_time], [success]) VALUES (1, N'1', N'<< Flyway Baseline >>', N'BASELINE', N'<< Flyway Baseline >>', NULL, N'sa', CAST(N'2025-06-13T12:00:42.567' AS DateTime), 0, 1)
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [customer_id], [promo_id], [voucher_id], [discount_amount], [order_date], [total_amount], [status], [payment_method], [staff_id]) VALUES (3, 1, NULL, NULL, CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-06-21T10:15:00.0000000' AS DateTime2), CAST(5500000.00 AS Decimal(10, 2)), N'Delivered', N'COD', 1)
INSERT [dbo].[orders] ([order_id], [customer_id], [promo_id], [voucher_id], [discount_amount], [order_date], [total_amount], [status], [payment_method], [staff_id]) VALUES (4, 2, NULL, NULL, CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-06-20T14:45:00.0000000' AS DateTime2), CAST(8500000.00 AS Decimal(10, 2)), N'Delivered', N'VNPay', 1)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

GO
SET IDENTITY_INSERT [dbo].[products] OFF
GO
INSERT [dbo].[promotion_brands] ([promo_id], [brand_id]) VALUES (10, 2)
INSERT [dbo].[promotion_brands] ([promo_id], [brand_id]) VALUES (10, 4)
GO
INSERT [dbo].[promotion_categories] ([promo_id], [category_id]) VALUES (11, 3)
GO
INSERT [dbo].[promotion_products] ([promo_id], [product_id]) VALUES (9, 4)
INSERT [dbo].[promotion_products] ([promo_id], [product_id]) VALUES (9, 6)
INSERT [dbo].[promotion_products] ([promo_id], [product_id]) VALUES (9, 7)
GO
SET IDENTITY_INSERT [dbo].[promotions] ON 

INSERT [dbo].[promotions] ([promo_id], [code], [description], [discount_pct], [start_date], [end_date], [active], [created_by], [apply_type]) VALUES (9, N'PROD15', N'Giảm 10% cho sản phẩm chọn lọc', CAST(15.00 AS Decimal(5, 2)), CAST(N'2025-06-22' AS Date), CAST(N'2025-06-30' AS Date), 1, 1, N'product')
INSERT [dbo].[promotions] ([promo_id], [code], [description], [discount_pct], [start_date], [end_date], [active], [created_by], [apply_type]) VALUES (10, N'BRAND15', N'Giảm 15% cho thương hiệu Daikin và LG', CAST(15.00 AS Decimal(5, 2)), CAST(N'2025-07-01' AS Date), CAST(N'2025-07-20' AS Date), 1, 1, N'brand')
INSERT [dbo].[promotions] ([promo_id], [code], [description], [discount_pct], [start_date], [end_date], [active], [created_by], [apply_type]) VALUES (11, N'CAT20', N'Giảm 20% cho danh mục quạt điều hòa', CAST(20.00 AS Decimal(5, 2)), CAST(N'2025-07-05' AS Date), CAST(N'2025-07-25' AS Date), 1, 1, N'category')
SET IDENTITY_INSERT [dbo].[promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([staff_id], [name], [email], [password], [phone], [address], [gender], [national_id], [start_date], [base_salary], [created_at], [updated_at]) VALUES (1, N'Bien', N'BienHLCCE181207@fpt.edu.vn', N'Bien13022004@', N'0942004995', N'Kien_GIang', N'MALE', N'091204002599', NULL, NULL, CAST(N'2025-06-15T10:39:41.6693635' AS DateTime2), CAST(N'2025-06-15T10:39:41.6693635' AS DateTime2))
INSERT [dbo].[staff] ([staff_id], [name], [email], [password], [phone], [address], [gender], [national_id], [start_date], [base_salary], [created_at], [updated_at]) VALUES (2, N'Tam', N'TamNMCE181522@fpt.edu.vn', N'1234567g', N'0912345678', N'Ca_Mau', N'MALE', N'091204002588', NULL, NULL, CAST(N'2025-06-15T10:41:39.3171063' AS DateTime2), CAST(N'2025-06-15T10:41:39.3171063' AS DateTime2))
SET IDENTITY_INSERT [dbo].[staff] OFF
GO
SET IDENTITY_INSERT [dbo].[vouchers] ON 

INSERT [dbo].[vouchers] ([voucher_id], [code], [description], [discount_amount], [discount_pct], [min_order_amount], [quantity_available], [start_date], [end_date], [active], [created_by], [created_at]) VALUES (2, N'KM001', N'giảm giá sản phẩm', NULL, CAST(10.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(10, 2)), 2, CAST(N'2025-06-18' AS Date), CAST(N'2025-06-18' AS Date), 1, 1, CAST(N'2025-06-18T08:29:02.2535081' AS DateTime2))
INSERT [dbo].[vouchers] ([voucher_id], [code], [description], [discount_amount], [discount_pct], [min_order_amount], [quantity_available], [start_date], [end_date], [active], [created_by], [created_at]) VALUES (3, N'KM002', N'EWQWWE', NULL, CAST(23.00 AS Decimal(5, 2)), CAST(2.00 AS Decimal(10, 2)), 1, CAST(N'2025-06-18' AS Date), CAST(N'2025-06-20' AS Date), 1, 1, CAST(N'2025-06-18T11:55:41.7450391' AS DateTime2))
SET IDENTITY_INSERT [dbo].[vouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[warehouse] ON 

INSERT [dbo].[warehouse] ([trans_id], [product_id], [quantity_change], [stock_after], [type], [trans_date], [admin_id], [notes]) VALUES (2, 5, 20, 114, N'import', CAST(N'2025-06-15T11:55:42.0066667' AS DateTime2), 1, N'Nhập hàng Panasonic')
INSERT [dbo].[warehouse] ([trans_id], [product_id], [quantity_change], [stock_after], [type], [trans_date], [admin_id], [notes]) VALUES (3, 4, 20, 80, N'import', CAST(N'2025-06-15T11:59:23.2100000' AS DateTime2), 1, N'Nhập kho Panasonic Inverter 1 HP')
INSERT [dbo].[warehouse] ([trans_id], [product_id], [quantity_change], [stock_after], [type], [trans_date], [admin_id], [notes]) VALUES (4, 5, 30, 104, N'import', CAST(N'2025-06-15T11:59:23.2200000' AS DateTime2), 1, N'Nhập kho Daikin Inverter 1 HP')
SET IDENTITY_INSERT [dbo].[warehouse] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__admins__9560E95D7DD78E09]    Script Date: 6/26/2025 4:47:31 PM ******/
ALTER TABLE [dbo].[admins] ADD UNIQUE NONCLUSTERED 
(
	[national_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__admins__AB6E6164DF388DCF]    Script Date: 6/26/2025 4:47:31 PM ******/
ALTER TABLE [dbo].[admins] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__brands__72E12F1B853DE489]    Script Date: 6/26/2025 4:47:31 PM ******/
ALTER TABLE [dbo].[brands] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__AB6E6164A970532C]    Script Date: 6/26/2025 4:47:31 PM ******/
ALTER TABLE [dbo].[customers] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customer_Email_Provider]    Script Date: 6/26/2025 4:47:31 PM ******/
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [UQ_Customer_Email_Provider] UNIQUE NONCLUSTERED 
(
	[email] ASC,
	[provider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__promotio__357D4CF99DD9446B]    Script Date: 6/26/2025 4:47:31 PM ******/
ALTER TABLE [dbo].[promotions] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__staff__9560E95D1D157FDF]    Script Date: 6/26/2025 4:47:31 PM ******/
ALTER TABLE [dbo].[staff] ADD UNIQUE NONCLUSTERED 
(
	[national_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__staff__AB6E61644B077802]    Script Date: 6/26/2025 4:47:31 PM ******/
ALTER TABLE [dbo].[staff] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vouchers__357D4CF95713A9B5]    Script Date: 6/26/2025 4:47:31 PM ******/
ALTER TABLE [dbo].[vouchers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__wishlist__8915EC5B3C333BCC]    Script Date: 6/26/2025 4:47:31 PM ******/
ALTER TABLE [dbo].[wishlists] ADD UNIQUE NONCLUSTERED 
(
	[customer_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[brands] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[brands] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [is_locked]
GO
ALTER TABLE [dbo].[delivery_tracking] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[feedback] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[feedback] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[flyway_schema_history] ADD  DEFAULT (getdate()) FOR [installed_on]
GO
ALTER TABLE [dbo].[maintenance_warranty_history] ADD  DEFAULT (sysutcdatetime()) FOR [update_time]
GO
ALTER TABLE [dbo].[maintenance_warranty_requests] ADD  DEFAULT (sysutcdatetime()) FOR [request_date]
GO
ALTER TABLE [dbo].[maintenance_warranty_requests] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[memberships] ADD  DEFAULT ((0)) FOR [points]
GO
ALTER TABLE [dbo].[memberships] ADD  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [start_date]
GO
ALTER TABLE [dbo].[memberships] ADD  DEFAULT ((1)) FOR [is_current]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (sysutcdatetime()) FOR [order_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock_qty]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [discount_pct]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[replies] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT ((0)) FOR [min_order_amount]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT ((0)) FOR [quantity_available]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[warehouse] ADD  DEFAULT (sysutcdatetime()) FOR [trans_date]
GO
ALTER TABLE [dbo].[wishlists] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[delivery_tracking]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[delivery_tracking]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[maintenance_warranty_history]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[maintenance_warranty_requests] ([request_id])
GO
ALTER TABLE [dbo].[maintenance_warranty_history]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_handled_by_staff] FOREIGN KEY([handled_by])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[maintenance_warranty_history] CHECK CONSTRAINT [FK_maintenance_handled_by_staff]
GO
ALTER TABLE [dbo].[maintenance_warranty_requests]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[maintenance_warranty_requests]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[maintenance_warranty_requests]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[memberships]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[memberships]  WITH CHECK ADD FOREIGN KEY([tier_id])
REFERENCES [dbo].[membership_tiers] ([tier_id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([promo_id])
REFERENCES [dbo].[promotions] ([promo_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[vouchers] ([voucher_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_staff]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_brands] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([brand_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_brands]
GO
ALTER TABLE [dbo].[promotion_brands]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([brand_id])
GO
ALTER TABLE [dbo].[promotion_brands]  WITH CHECK ADD FOREIGN KEY([promo_id])
REFERENCES [dbo].[promotions] ([promo_id])
GO
ALTER TABLE [dbo].[promotion_categories]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[promotion_categories]  WITH CHECK ADD FOREIGN KEY([promo_id])
REFERENCES [dbo].[promotions] ([promo_id])
GO
ALTER TABLE [dbo].[promotion_products]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[promotion_products]  WITH CHECK ADD FOREIGN KEY([promo_id])
REFERENCES [dbo].[promotions] ([promo_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[admins] ([admin_id])
GO
ALTER TABLE [dbo].[replies]  WITH CHECK ADD FOREIGN KEY([feedback_id])
REFERENCES [dbo].[feedback] ([feedback_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[replies]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[voucher_brands]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([brand_id])
GO
ALTER TABLE [dbo].[voucher_brands]  WITH CHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[vouchers] ([voucher_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[voucher_categories]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[voucher_categories]  WITH CHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[vouchers] ([voucher_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vouchers]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[admins] ([admin_id])
GO
ALTER TABLE [dbo].[warehouse]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[admins] ([admin_id])
GO
ALTER TABLE [dbo].[warehouse]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[wishlists]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[wishlists]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[maintenance_warranty_history]  WITH CHECK ADD CHECK  (([handled_role]=N'admin' OR [handled_role]=N'staff'))
GO
ALTER TABLE [dbo].[maintenance_warranty_history]  WITH CHECK ADD  CONSTRAINT [CK_handled_role_only_staff] CHECK  (([handled_role]='staff'))
GO
ALTER TABLE [dbo].[maintenance_warranty_history] CHECK CONSTRAINT [CK_handled_role_only_staff]
GO
ALTER TABLE [dbo].[maintenance_warranty_requests]  WITH CHECK ADD CHECK  (([request_type]=N'warranty' OR [request_type]=N'maintenance'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([payment_method]=N'VNpay' OR [payment_method]=N'COD'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([status]=N'Delivered' OR [status]=N'Shipped' OR [status]=N'Cancelled' OR [status]=N'Paid' OR [status]=N'Pending'))
GO
ALTER TABLE [dbo].[warehouse]  WITH CHECK ADD CHECK  (([type]=N'export' OR [type]=N'import' OR [type]=N'init'))
GO
