<link rel="stylesheet" href="/css/header.css">
<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div th:fragment="headerContent">
  <header class="container-fluid px-4 py-2 border-bottom">
    <div class="header-container">
      <div class="center-logo">
        <img th:src="@{/images/logo.png}" alt="FsMs Logo" class="logo-image">
      </div>
      
      <div id="headerDropdown">
        <div class="profile-icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5.121 17.804A9 9 0 0112 15a9 9 0 016.879 2.804M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
          </svg>
        </div>
        <ul class="dropdown-menu" id="headerMenu">
          <div sec:authorize="hasRole('ADMIN')">
            <li><a th:href="@{/staff/category}">
              <span class="menu-icon"><img src="/images/staff.png" alt="home"></span>
                Staff</a></li>
            <li><a th:href="@{/home}">
              <span class="menu-icon"><img src="/images/home.png" alt="home"></span>
                Home</a></li>
          </div>
          <div sec:authorize="hasRole('STAFF')">
            <li><a th:href="@{/home}">
              <span class="menu-icon"><img src="/images/home.png" alt="home"></span>
                Home</a></li>
          </div>
          <li class="divider"></li>
          <li>
            <form th:action="@{/auth/logout}" method="post">
              <button type="submit" class="logout-btn">
                <span class="menu-icon"><img src="/images/logout.png" alt="logout"></span>
                  Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>


</div>