<div class="main-container">

  <div th:fragment="sidebarStaff">
    <div class="sidebarStaff">
      <div class="p-3 border-bottom">
        <img th:src="@{/images/logo.png}" alt="FsMs Logo" class="logo-sidebar">
      </div>
      <ul class="nav flex-column p-2">
        <li class="nav-item mb-2">
          <a th:href="@{/staff/category}"
             th:classappend="${activeMenu=='category'} ? 'nav-link active' : 'nav-link'">
            Manage Category
          </a>
        </li>
        <li class="nav-item mb-2">
          <a th:href="@{/staff/products}"
             th:classappend="${activeMenu=='products'} ? 'nav-link active' : 'nav-link'">
            Manage Product
          </a>
        </li>
        <li class="nav-item mb-2">
          <a th:href="@{/staff/orders}"
             th:classappend="${activeMenu=='orders'} ? 'nav-link active' : 'nav-link'">
            Manage Orders
          </a>
        <li class="nav-item mb-2">
          <a th:href="@{/staff/customer}"
             th:classappend="${activeMenu=='customer'} ? 'nav-link active' : 'nav-link'">
            Manage Customer
          </a>
        </li>
        </li>
        <li class="nav-item mb-2">
          <a th:href="@{/admin/vouchers}"
             th:classappend="${activeMenu=='vouchers'} ? 'nav-link active' : 'nav-link'">
            Manage Vouchers
          </a>
        </li>
        <li class="nav-item mb-2">
          <a th:href="@{/admin/feedback}"
             th:classappend="${activeMenu=='feedback'} ? 'nav-link active' : 'nav-link'">
            Manage Feedback
          </a>
        </li>
        <li class="nav-item mb-2">
          <a th:href="@{/admin/maintance}"
             th:classappend="${activeMenu=='maintance'} ? 'nav-link active' : 'nav-link'">
            Manage Maintanance
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>