<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title th:replace="${pageTitle}">Admin Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/custom.css}" />
</head>
<body>

<div th:fragment="layout(pageTitle, content)">
  <div th:insert="~{fragments/sidebar :: sidebar(activeMenu='categories')}"></div>
  <div class="main-content">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container-fluid p-4">
      <div th:replace="~{${content}}"></div>
    </div>
  </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>