<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Staff List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/header.css">
  <link  rel="stylesheet" href="/css/manageStaff.css">
  <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>
 <div th:insert="~{fragments/header :: headerContent}"></div>

<div class="container mt-4 main-container">
  <div th:insert="~{fragments/sidebar :: sidebar}"></div>
<div class="content">
  <h2 class="mb-4">Staff List</h2>


  <form class="row g-3 mb-3" th:action="@{/staff/list}" method="get">
    <div class="col-md-4">
      <input type="text" name="keyword" class="form-control" placeholder="Search by name or email"
             th:value="${keyword}">
    </div>
    <div class="col-md-3">
      <select name="gender" class="form-select">
        <option value="">All Genders</option>
        <option value="MALE" th:selected="${gender == 'MALE'}">Male</option>
        <option value="FEMALE" th:selected="${gender == 'FEMALE'}">Female</option>
        <option value="OTHER" th:selected="${gender == 'OTHER'}">Other</option>
      </select>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-success w-100">Search</button>
    </div>
  </form>
  <a href="/staff/add-form" class="btn btn-primary mb-3">Add</a>


  <table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Password</th>
      <th>Phone</th>
      <th>Address</th>
      <th>National ID</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="staff : ${staffList}">
      <td th:text="${staff.id}">1</td>
      <td th:text="${staff.name}">Nguyen Van A</td>
      <td th:text="${staff.gender}">MALE</td>
      <td th:text="${staff.email}">a@gmail.com</td>
      <td th:text="${staff.password}">••••••</td>
      <td th:text="${staff.phone}">0123456789</td>
      <td th:text="${staff.address}">HCM</td>
      <td th:text="${staff.national_id}">123456789</td>
      <td>
        <div class="staff-buttons">
        <a th:href="@{'/staff/update-form?id=' + ${staff.id}}"
         class="btn-update">Update</a>
        <a th:href="@{'/staff/delete/' + ${staff.id}}"
           onclick="return confirm('Are you sure to delete this staff?')"
           class="btn btn-sm btn-danger btn-delete">
          Delete
        </a>
</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>
